<h4>映画新規登録</h4>

<div class="error">
  <% if @movie.errors.any? %>
    <%= @movie.errors.count %>件のエラーが発生しました<br>
    <% @movie.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  <% end %>
</div>

<!--<%#= form_with model: @movie, url: "/admin/movies/new", local:true do |f| %>どちらでも可-->
<%= form_with model: [:admin, @movie], local:true do |f| %>
        <div class="field">
          <%= f.label :画像 %>
          <%= f.attachment_field :image %>
        </div>

        <div class="field">
          <%= f.label :題名 %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :年代 %>
          <%= f.number_field :created_year %>
        </div>

        <div class="field">
          <%= f.label :ジャンル %>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"mentor-skill"}) %>
        </div>

        <div class="field">
          <%= f.label :監督 %>
          <%= f.text_field :director %>
        </div>

        <div class="field">
          <%= f.label :出演 %>
          <%= f.text_field :cast %>
        </div>

        <div class="field">
          <%= f.label :概要 %>
          <%= f.text_area :introduction %>
        </div>

        <%= f.submit "登録する", class: "btn btn-primary" %>

  <% end %>