<!--<%# if @model == 'user' %>-->
<!--  <h3>【Usersモデルの検索結果】検索ワード：<%= @content %></h3>-->
<!--  <%#= render 'users/index', users: @records %>-->
<!--<%# else @model == 'posts' %>-->
<!--  <h3>【Postsモデルの検索結果】検索ワード：<%= @content %></h3>-->
<!--    <%#= render 'posts/index', posts: @records %>-->
<!--<%# end %>-->

<table>
    <thead>
        <tr>
            <th>タイトル</th>
            <th>年代</th>
            <th>ジャンル</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="movie">
    <% movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.created_year %></td>
        <td><%= movie.genre_id %></td>
        <td><%= link_to "詳細", movie_path(movie) %>
        <% if post.user == current_user %>
          <td><%= link_to "編集", edit_post_path(post) %></td>
          <td><%= link_to "削除", post_path(post), method: :delete, remote: true %></td>
        <% else %>
          <td></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>