yarinaosi!

<h5><%= @user.nickname %></h5>

<div class="review">
  <% @reviews.each do |review| %>
   <div class="relative-post-evaluation">
          <%= review.user.nickname %>
          <%= review.movie.title %>,
          <%= review.movie.created_year %>,
          <%= review.movie.genre_id %>
          <span id="star-rate-<%= review.id %>"></span>
          <script>
            $('#star-rate-<%= review.id %>').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= review.score %>,
            });
          </script><br>
          <%= review.content %>
        </div>
      </div>


  <% end %>
</div>