<%# if @review.errors.any? %>
  <!--<%#= @review.errors.count %>件のエラーが発生しました-->
  <%# @review.errors.full_messages.each do |message| %>
    <%#= message %>
  <%# end %>
<%# end %>


<%= form_with model: @review, local: true do |f| %>
<%= render 'layouts/error_messages', model: f.object%>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= current_user.nickname %>
  <div class="field" id="star">
  <%= f.label :score, "星評価：" %>
  <%= f.hidden_field :score, id: :review_star %>
  <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'review[score]',
      half: true,
    });
  </script>
</div>
<%= f.label :content, "レビュー" %>
<%= f.text_area :content  %>
<%= f.submit "投稿する" %>
<% end %>