
<h5>
  <%= @review.user.nickname %>
  <%= link_to "投稿レビューをすべて見る", user_path(@review), class: "btn btn-success" %>
</h5>
<div class="review">
   <div class="relative-post-evaluation">
          <%= @review.user.nickname %><br>
          <%= @review.content %><br>
          <%= link_to movie_path(@review.movie) do %>
            <div class="movies_show_link">
              <%= attachment_image_tag @review.movie, :image, :fill, 50, 50, format: 'jpeg' %>
              <%= @review.movie.title %>
              <%= @review.movie.created_year %>,
              <%= @review.movie.genre_id %>
              <span id="star-rate-<%= @review.id %>"></span>
              <script>
              $('#star-rate-<%= @review.id %>').empty();
                $('#star-rate-<%= @review.id %>').raty({
                  size: 36,
                  starOff: "<%= asset_path('star-off.png') %>",
                  starOn: "<%= asset_path('star-on.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  half: true,
                  readOnly: true,
                  score: <%= @review.score %>,
                });
              </script><br>
            </div>
          <% end %>
        </div>
      </div>

<h4>コメント一覧</h4>
<% @comments.each do |comment| %>
<div class="comments">
  <%= comment.user.nickname %>
  <%= comment.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %><br>
  <%= comment.content %><br>
  <% if user_signed_in? && current_user.id == comment.user_id %>
    <%= link_to "削除", comment_path(comment), method: :delete, class: "btn btn-danger" %>
  <% end %>
</div>
<% end %>

<h4>コメントする</h4>
<div class="content">
  投稿者：<%= current_user.nickname %>
  <%= form_with model: @comment_new, url: "/comments", local:true do |f| %>
  <!--<%#= render 'layouts/error_messages', model: f.object%>効かない-->
    <div class="field">
      <%= f.label :コメント %><br>
      <%= f.text_area :content, size: "50x8" %>
      <%= f.hidden_field :review_id, :value => @review.id %>
    </div>

    <div class="action">
      <%= f.submit "送信" %>
    </div>
  <% end %>
</div>