<h4>ようこそMovie Mapsへ！</h4><br>

<div class="content">

<% @movies.each do |movie| %>
<div class="movies" %>
  <div class="movie-image" %>
    <%= link_to movie_path(movie)  do %>
      <%= attachment_image_tag movie, :image, :fill, 300, 230, format: 'jpeg' %>
    <% end %>
  </div>
  <div class="movie-text" %>
    <%= movie.title %>
    <%= movie.created_year %>年
    <%= movie.genre.name %>
  </div>
</div>
<% end %>
<%= paginate @movies %>
</div>
