<h5><%= current_user.nickname %></h5>

<div class="content" %>
  <% @reviews.each do |review| %>
    <div class="review">
        <div class="relative-post-evaluation">
          <%= current_user.nickname %>
          <%= review.movie.title %>,
          <%= review.movie.created_year %>,
          <%= review.movie.genre.name %>
          <span id="star-rate-<%= review.id %>"></span>
          <script>
            $('#star-rate-<%= review.id %>').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= review.score %>,
            });
          </script><br>
          <%= review.content %>
        </div>
        <%= link_to "削除", review_path(review), method: :delete, class: "btn btn-danger" %>
      </div>
  <% end %>
</div>