<!DOCTYPE html>
<html>
  <head>
    <title>MovieMaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/91078cb5ad.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">

            <div class="navbar-brand">
              <%= link_to "Movie Maps", root_path, class: "link-logo" %>
            </div>

            <!--<%# if customer_signed_in? %>-->
            <!--  ようこそ、<%#= current_customer.last_name %>さん！-->
            <!--<%# end %>-->


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item active"><%= link_to "Home", root_path, class: "link"  %></li>
                <li class="nav-item active"><%= link_to "映画一覧表", admin_root_path, class: "link" %></li>
                <li class="nav-item active"><%= link_to "映画登録", new_admin_movie_path, class: "link" %></li>
                <li class="nav-item active"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "link" %></li>
              <% elsif user_signed_in? %>
                <li class="nav-item active"><%= link_to 'About', homes_about_path, class: "link" %></li>
                <li class="nav-item active"><%= link_to "Home", root_path, class: "link"  %></li>
                <li class="nav-item active"><%= link_to "マイページ", mypage_path, class: "link"  %></li>
                <li class="nav-item active"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "link" %></li>
               <% else %>
                <li class="nav-item active"><%= link_to "About", homes_about_path, class: "link" %></li>
                <li class="nav-item active"><%= link_to "Home", root_path, class: "link"  %></li>
                <li class="nav-item active"><%= link_to "新規登録", new_user_registration_path, class: "link"  %></li>
                <li class="nav-item active"><%= link_to "ログイン", new_user_session_path, class: "link"  %></li>
              <% end %>
            </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="search_field">
        <% if admin_signed_in? %>
          <%= form_tag(search_admin_movies_path, method: :get) do %>
            <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%>
            <%= text_field(@search_content, :search_word)%>
            <%= submit_tag "検索" %>
          <% end %>
        <% elsif %>
          <%= form_tag(search_movies_path, method: :get) do %>
            <%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"],["部分一致","partial_match"]])%>
            <%= text_field(@search_content, :search_word)%>
            <%= submit_tag "検索" %>
          <% end %>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
